# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

pkg/cmd/version.go
pkg/cmd/report_html.go

*.csv
*.pdf
*.gp
*.svg
*.html

artifacts/
