role client
  :prepare  $COCKROACH workload init kv \\
  			--drop --db db$node --pprofport $pprof $(cat ../$node/pgurl)
  :start	$COCKROACH workload run kv --db db$node --pprofport $pprof \\
  			--concurrency 1 --max-rate 200 --cycle-length 10 \\
			--display-every .25s --abstime --skip-final-report --tolerate-errors \\
			$(cat ../$node/pgurl) \\
			& echo $!>wpid
  :stop     kill $(cat wpid) && sleep 1 && kill -9 $(cat wpid) || true; rm -f kv.log
  cleanup	if test -e wpid; then kill $(cat wpid) && sleep 1 && kill -9 $(cat wpid) || true; fi; touch kv.log
  # Note: we need to "touch" the file prior to looking because
  # otherwise "tail" may wait too long to detect the first output.
  spotlight touch start.log; tail -F start.log
  signal	errors delta at      ^(?P<ts_rfc3339>)\s+(?P<delta>\S+).*$
  signal	throughput scalar at ^(?P<ts_rfc3339>)\s+\S+\s+(?P<scalar>\S+).*$
  signal	lat50 scalar at      ^(?P<ts_rfc3339>)(?:\s+\S+){3}\s+(?P<scalar>\S+).*$
  signal	lat95 scalar at      ^(?P<ts_rfc3339>)(?:\s+\S+){4}\s+(?P<scalar>\S+).*$
  signal	lat99 scalar at      ^(?P<ts_rfc3339>)(?:\s+\S+){5}\s+(?P<scalar>\S+).*$
end
